* {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
}

main {
  width: 87%;
  margin: auto;
}

/* all h1s in page */
h1 {
  font-size: 1.7rem;
}

/* related to title */
.titlebox-container {
  text-align: center;
}

/* related to title */
.titlebox {
  display: inline-block;
  width: 528px;
  margin-left: calc(calc(100% - 528px) / 2);
}

/* related to title */
h1.challenge-name {
  margin: 1em 0;
  text-align: center;
}

/* related to title */
.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.90;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

/* all sections in page */
.form-section {
  margin: 3em 0;
}

/* both text input fields */
input[type=text] {
  padding: 13px 20px;
  margin: 12px 0;
  display: inline-block;
  border-radius: 2px;
  font-size: 29px;
  box-sizing: border-box;
}

/* no validation field */
input[class="input-wo-validation"] {
  border: 1px solid #6b6b6b;
}

/* validation field w/ error message */
input[class="input-w-validation"]:valid {
  border: 1px solid #6b6b6b;
}
input[class="input-w-validation"]:invalid {
  border: 1px solid #d83145;
}
input[class="input-w-validation"]:valid ~ .error-message {
  visibility: hidden;
}
input[class="input-w-validation"]:invalid ~ .error-message {
  visibility: visible;
}

/* error message */
.error-message p {
  color: #d83145;
  text-align: right;
}

input[type="checkbox"] {
  display: none;
}

input[type=checkbox] + label {
  display: inline-block;
  background:url("./img/cbox-unchecked.png") no-repeat;
  margin-top: 16px;
  height: 85px;
  width: 85px;
  background-size: 75%;
}

input[type=checkbox]:checked + label {
  background:url("./img/cbox-checked.png") no-repeat;
  margin-top: 16px;
  height: 85px;
  width: 85px;
  background-size: 75%;
  display:inline-block;
}